/* Pseudo Responsive */

body {
	margin: auto;
}

body > * {
	min-width: 60%;
}

body > .chathacks {
	min-width: 90%;
	max-width: 100%;
}

/* General */

*{font-family:'Verdana','Helvetica',sans-serif;font-size:15px;}
h1,h1 * {font-size:24px;}
h2,h2 * {font-size:20px;}
h3,h3 * {font-size:18px;}
h4,h4 * {font-size:17px;}
h5,h5 * {font-size:16px;font-weight:bold;}
h6,h6 * {font-size:14px;font-weight:bold;}
a{color:#063;}
a:active{color:#6B6;}
a:visited{color:#933;}
h1.body-title{letter-spacing:4px;text-align:center;}
header hr{width:90%;border:1px solid #7117;border-radius:2px;}
p.intro{padding-left:0.5em;}
ul.nolabel{padding-left:1em;}
ul.nolabel > li{list-style-type:none;padding:2px;}
.nav-button{border-radius:3px;}
.nav-button:nth-child(even){background:#BEB;}
.nav-button:nth-child(odd){background:#ACE;}
.nav-button.current{opacity:.6;border-color:transparent;border-radius:6px;}
.aside{font-size:11px!important;}
span.nospam{display:none;}
span.status-check{font-size:16px;font-weight:999;color:#090;}
code{user-select:all;background:#DDD;font-family:'Courier',monospace;font-weight:600;color:#282;}
p.attr{font-size:12px;font-weight:700;letter-spacing:.1em;}
#commandbox{background:#FFFA;margin:15px;border:5px outset #B559;border-radius:2em;}
#cmdbox-summary{padding:10px;margin-left:1em;font-family:'Helvetica','Verdana',sans-serif;font-weight:bold;font-size:14px;}
h4.cmdbox{font-family:'Helvetica','Verdana',sans-serif;font-size:16px;}
#details-wrapper div{margin:10px;}
#details-wrapper hr{width:85%;border:1px solid #B88;}
h4.cmdbox ~ p{font-family:'Helvetica','Verdana',sans-serif;font-size:14px;}
a.footref{color:#900;font-weight:999;text-decoration:underline;}
p.footnote{color:#900;font-size:12px;}

/* Table */

table {
	table-layout: fixed;
	border-collapse: collapse;
}

table * {

	word-wrap: break-word;
	font-size: 14px;
}

table, th, td {
	border:1px dotted #9AB;
	padding:.2em;
}

th, td {
	max-width: 15%;
}

th {
	text-align:center;
	/* Background source: https://leaverou.github.io/css3patterns/#carbon-fibre */
	background: linear-gradient(27deg, #222 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #333 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #333 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #222 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
	color: #FFF;
}

tr:nth-child(even) {
	background-color: #EFEFEF;
	background-image: linear-gradient(45deg, #2462 25%, transparent 25%, transparent 75%, #2462 75%, #2462), 
		linear-gradient(45deg, #2462 25%, transparent 25%, transparent 75%, #2462 75%, #2462);
	background-size: 3px 2px;
	background-position: 0 0, 1px 4px;
}

tr:nth-child(odd) {
	background-color: #FFF;
}

td.center {
	text-align: center;
}

/* flex/Flexbox */

.flex{border:2px outset #9119;border-radius:1.5em;padding:1em;margin:0.5em;}

.flex.header{flex-area:header;}
.flex.nav{flex-area:nav;}
.flex.quick{flex-area:quick;}
.flex.body{flex-area:body;}
.flex.footer{flex-area:footer}

body.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}